{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
<br>
<h1 align="center">Welcome</h1>
<br>
<br>
<br>

<div style="border: thin solid black">

<p>
  <center>
    <h5>Hello there! Please take these surveys.You will be presented a set of pair of images and you need to choose one
      that you like. Each pair will be shown for 5 seconds.</h5>
    <h6>Please feel free to take the survey multiple times. </h6>
  </center>
</p>

<br>
<br>
<br>
<!-- 
<form action="/select" method="get">
  <div align="center">
      <button type="submit" class="btn btn-primary" name="survey" value="temple">Start Temple Survey</button>
  </div>
</form> -->
<form action="/select" method="get">
  <div align="center">
      <button type="submit" class="btn btn-primary" name="survey" value="aspect">Start Aspect Ratio Survey</button>
  </div>
</form>
<!-- <form action="/audio_select" method="get">
  <div align="center">
      <button type="submit" class="btn btn-primary" name="survey" value="audio">Start Audio Ratio Survey</button>
  </div>
</form> -->
<br>
<br>
</div>

{% endblock %}