{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <br>
    <br>
  
    <div style="border: thin solid black">
    <p>
      <center>
        <h5>Thank you for taking the survey! Your responses have been recorded. You can take more surveys by returning to the home screen.</h5>
      </center>
    </p>
    
    <br>
    <br>
    <br>
    
    <form action="/">
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Return to Home</button>
      </div>
    </form>
    <br>
    </div>
    
    {% endblock %}